@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
}

.App {
  border-top: 7px solid #6809e1;
  height: 100%;
}

.container {
  border: 1px solid #e8e8e8;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.flex-direction {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.relative {
  position: relative;
}

Header {
  width: 900px;
  height: 100px;
}

Header > img {
  margin-left: 69px;
}

.btn-modo {
  background: none;
  border-radius: 61px;
  /* border: 1px solid #6809e1; */
  color: #6809e1;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  height: 43px;
  margin-right: 69px;
  width: 148px;
}

.btn-modo:hover {
  background-color: rgb(80, 227, 194);
  border: none;
  cursor: pointer;
}

.filter {
  height: 100%;
  margin-top: 39px;
  width: 900px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1 > span {
  font-weight: 900;
}

.input-search {
  border-radius: 61px 0px 0px 61px;
  border: 1px solid #121212;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  height: 52px;
  outline: none;
  padding-left: 19px;
  width: 490px;
}

.img {
  height: 250px;
  overflow: hidden;
  width: 250px;
}

.icon-close {
  cursor: pointer;
  left: 450px;
  position: absolute;
  top: 19px;
  width: 13px;
}

.btn-search {
  width: 80px;
  height: 52px;
  border-radius: 0px 61px 61px 0px;
  background-color: #6809e1;
  border: none;
  cursor: pointer;
}

.suggestions-container {
  border-radius: 20px;
  border: 1px solid #6809e1;
  height: auto;
  margin-bottom: 50px;
  margin-top: 5px;
  overflow: hidden;
  position: absolute;
  top: 415px;
  width: 570px;
}

.icon-search {
  width: 20px;
  position: absolute;
  top: 15px;
  left: 10px;
  cursor: pointer;
}

.suggestions {
  background-color: white;
  border: 0.5px solid rgb(220, 217, 220);
  color: #3f3f3f;
  font-family: 'Roboto', sans-serif;
  height: 46px;
  list-style: none;
  padding-left: 40px;
  width: 100%;
}

.suggestions:hover {
  background-color: rgb(237, 231, 231);
  cursor: pointer;
}

.search-result {
  margin-top: 20px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.gifs-container {
  margin-top: 20px;
  width: 900px;
  height: 100%;
}

.gifs-container > a {
  margin: 20px;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.gifs-container > a > img {
  height: 100%;
  width: 100%;
}

.not-found {
  background-color: #6809e1;
  height: 400px;
  margin-top: 20px;
  width: 900px;
}

.not-found > h2,
.not-found > h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.not-found > h2 {
  font-weight: 400;
}

.card-gif {
  margin-top: 20px;
  width: 900px;
  height: 100%;
  margin-bottom: 50px;
}

.card-gif > img {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 20px;
}
